html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-size: 12px;
  background-color: rgba(244, 244, 244, 1);
}

.wid-w1240 {
  //  width: 1240px;
  width: 80%;
  margin: 0 auto;
  background: #fff;
  text-align: left;
  h1{
    margin: 25px 0px;
  }
}

.color_bac {
  background-color: rgba(244, 244, 244, 1);
}

.c_ccc {
  color: #ccc;
}
.c_yellow{
  color: #ff9a3c;
}

.topfixd-contan {
  // width: 1240px;
  width: 80%;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;

  .topfixd-l {
    width: 50%;
    text-align: left;
  }

  .topfixd-r {
    width: 50%;
    display: flex;
    justify-content: space-between;
  }
}