html,body {
    padding: 0;
    margin: 0;
    height: 100%;
    font-size: 12px;
    // background: pink;
  }
   .wid-w1240{
     width: 1240px;
     margin: 0 auto;
   }
  .topfixd-contan {
    width: 1240px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    .topfixd-l {
      width: 50%;
      text-align: left;
    }

    .topfixd-r {
      width: 50%;
      display: flex;
      justify-content: space-between;
    }
  }